@model LibraryManagement.Models.IssueBook





<div class="row">
    <div class="col-sm-6 offset-sm-3">
        @using (Html.BeginForm("Save", "IssueBook", FormMethod.Post))
        {
            <div class="card p-4">
                <h3 class="card-title">Issue Book</h3>

                <div class="form-group">
                    <label for="member_id">Member Id</label>
                    <input type="text" id="member_id" name="MemberId" class="form-control" placeholder="Member" required />
                </div>

                <div class="form-group">
                    <label for="mname">Name</label>
                    <input type="text" id="mname" name="MemberName" class="form-control" placeholder="Name" readonly />
                </div>

                <div class="form-group">
                    <label for="book_id">Book Name</label>
                    <select class="form-control" id="book_id" name="BookId" required>
                        <option value="">Please Select</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="issuedate">Issue Date</label>
                    <input type="date" id="issuedate" name="IssueDate" class="form-control" required />
                </div>

                <div class="form-group">
                    <label for="returndate">Return Date</label>
                    <input type="date" id="returndate" name="ReturnDate" class="form-control" required />
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Save" class="btn btn-success btn-lg" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script>
        function getMid() {
            $("#member_id").keyup(function () {
                var memberId = $("#member_id").val();
                if (memberId.length > 0) {
                    $.ajax({
                        type: 'GET',
                        url: '/IssueBook/GetMid?id=' + memberId,
                        dataType: 'json',
                        success: function (data) {
                            if (data) {
                                $("#mname").val(data.name);
                            } else {
                                $("#mname").val("Member not found");
                            }
                        },
                        error: function () {
                            alert("Error retrieving member name");
                        }
                    });
                } else {
                    $("#mname").val("");
                }
            });
        }

        function getBook() {
            $.ajax({
                type: 'GET',
                url: '/IssueBook/GetBook',
                dataType: 'json',
                success: function (data) {
                    $('#book_id').empty();
                    $('#book_id').append('<option value="">Please Select</option>');
                    $.each(data, function (i, book) {
                        $('#book_id').append($('<option>', {
                            value: book.ID,
                            text: book.Bname
                        }));
                    });
                },
                error: function (xhr, status, error) {
                    alert("Error retrieving books: " + xhr.responseText);
                }
            });
        }

        $(document).ready(function () {
            getMid();
            getBook();
        });
    </script>
}
